body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

.react-logo {

    width: 140px;
}

.homePage {
    margin: 40px 0px 0px 40px;
}